.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #ee6e73;
    font-size: 14px;
    .footer-copyright {
        overflow: hidden;
        height: 50px;
        line-height: 50px;
        color: rgba(255, 255, 255, 0.8);
    }
}
