<div class="row">
    <div class="col-12 col-md-{{12/versions.length}}" *ngIf="evt1.enabled">
        <app-flipping-card [cardData]="evt1">
            <div content>
                <p>Everything is created around the data and the encoded text itself: by applying a single style
                    sheet
                    to
                    the TEI XML file holding the transcription of a document, an <strong>XSLT 2.0 transformation
                        chain</strong> is started and the end result is a web-based application – a mix of HTML 5,
                    CSS3
                    and
                    JavaScript – which can be easily shared on the Web. <br />Besides presenting the digital scans
                    of
                    the
                    original manuscript (if available) linked to the corresponding text of the edition, it provides
                    some
                    other
                    great features, such as the support for diplomatic and interpretative edition levels, an
                    integrated
                    search
                    engine, the lists of named entities and SVG diagrams of the quire structure (thanks to VisColl).
                </p>
                <p>
                    Browse the sample editions to see some example of digital edition that can be created
                    with EVT:</p>
                <ul>
                    <li><a href="http://evt.labcd.unipi.it/demo/evt_v1-3/dotr/" target="_blank">DOTR</a>
                    </li>
                    <li><a href="http://evt.labcd.unipi.it/demo/evt_v1-3/cp/" target="_blank">Codice
                            Pelavicino</a></li>
                    <li><a href="http://evt.labcd.unipi.it/demo/evt_v1-3/gti/" target="_blank">Gherardi</a></li>
                    <li><a href="http://evt.labcd.unipi.it/demo/evt_v1-3/et/" target="_blank">Embedded
                            Transcription</a></li>
                </ul>
                <p>
                    The 1.3 is the final release for EVT 1.*: after a short period to gather feedback and
                    fix possible bugs in this version, the source code – which has been moved to a public
                    repository on GitHub <a href="https://github.com/evt-project/evt-builder/" target="_blank"
                        title="Source code"><fa-icon [icon]="['fab', 'github-square']" size="lg"></fa-icon></a> – is
                    now fully shared with the user community to be modified and/or
                    enhanced as other developers may see fit.
                </p>
            </div>
        </app-flipping-card>
    </div>
    <div class="col-12 col-md-{{12/versions.length}}" *ngIf="evt2.enabled">
        <app-flipping-card [cardData]="evt2">
            <div content>
                <p>The increasing number of available widgets has made the general layout quite complex with
                    regard to the interaction between them, and complicated to handle. The need for more
                    flexibility and modularity led us to a completely new infrastructure, based on MVC
                    design pattern.<br />
                    The XSLT stylesheets have been abandoned in favor of a set of JavaScript parsers
                    specifically written to retrieve edition content directly from the XML file. Edition
                    data is then saved in a JSON structure, organized in such a way that it can be easily
                    and rapidly accessed when needed. The final styling of documents is entrusted to CSS
                    style-sheets and is easily customizable.</p>
                <p>
                    Browse the sample editions to see some example of digital edition that can be created
                    with EVT2:</p>
                <ul>
                    <li><a href="http://evt.labcd.unipi.it/demo/evt2-beta2/dotr/"
                            target="_blank">Diplomatic/Interpretative
                            edition</a>
                    </li>
                    <li><a href="http://evt.labcd.unipi.it/demo/evt2-beta2/avicenna/" target="_blank">Critical
                            edition</a>
                    </li>
                    <li><a href="http://evt.labcd.unipi.it/demo/evt2-beta2/rc/" target="_blank">Critical edition
                            with 3D
                            viewer</a></li>
                </ul>
            </div>
        </app-flipping-card>
    </div>

    <div class="col-12 col-md-{{12/versions.length}}" *ngIf="evt3.enabled">
        <app-flipping-card [cardData]="evt3">
            <div content>
                ... Work in progress ...
            </div>
        </app-flipping-card>
    </div>
</div>