<nav class="navbar" role="navigation">
  <div class="logo-container">
    <span class="d-md-none">EVT</span>
    <span class="d-none d-md-block">Edition Visualization Technology</span>
  </div>

</nav>
<div class="section mb-5" id="index-banner">
  <div class="container">
    <div class="row p-5">
      <div class="col text-center">
        <h5 class="header light">A light-weight, open source tool specifically designed to create
          digital editions from XML-encoded texts, freeing the scholar from the burden of web programming and
          enabling the final user to browse, explore and study digital editions by means of a user-friendly
          interface.</h5>
      </div>
    </div>
    <app-versions-list></app-versions-list>
  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="icon-block">
          <h2 class="text-center blue-grey-text">
            <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
          </h2>
          <h5 class="text-center">About</h5>

          <p class="light">
            EVT was born in the context of the <a href="http://vbd.humnet.unipi.it/beta2/"
              alt="Digital Vercelli Book Beta" title="Digital Vercelli Book Beta" target="_blank">Digital Vercelli Book
              project</a>, which has been available in beta form
            for more than one year, but it has evolved in a tool suitable to fit different texts and
            needs. For example, it is now being used to publish <a href="http://pelavicino.labcd.unipi.it/evt/"
              alt="Codice Pelavicino Digitale" title="Codice Pelavicino Digitale" target="_blank">the digital edition of
              the Codice
              Pelavicino</a> manuscript, a medieval codex preserving charters dating back to the XIII
            century. The continuous development and need to adapt it to different types of documents and
            TEI-encoded texts has shifted the development focus towards creation of a more general tool
            for the web publication of TEI-based documents, able to cater for multiple use cases.</p>

        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="icon-block">
          <h2 class="text-center blue-grey-text">
            <fa-icon [icon]="['fas', 'tasks']"></fa-icon>
          </h2>
          <h5 class="text-center">EVT 2: main features</h5>

          <p class="light">
            <strong>Critical edition support.</strong> Enlarged critical apparatus, variant heat map,
            witnesses collation and variant filtering are some of the main features developed for the
            critical edition support.</p>
          <p class="light">
            <strong>Bookmark.</strong> Direct reference to the current view of the web application,
            considering view mode, current document, page and edition level, eventual collated witnesses
            and selected apparatus entry. </p>
          <p class="light">
            <strong>High level of customization.</strong> The editor can customize both the user
            interface layout and the appearance of the graphical components.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="icon-block">
          <h2 class="text-center blue-grey-text">
            <fa-icon [icon]="['fas', 'star']"></fa-icon>
          </h2>
          <h5 class="text-center">Future</h5>
          <p class="light">Currently, the development team is mainly focused on EVT 2. One of our most
            important goals is to reach feature parity with EVT 1, until this is achieved the former
            version will continue to be developed and improved.</p>
          <p class="light">
            We also plan to enhance it with additional features: traditional critical apparatus layers,
            image-text linking leading to selected witness variants, very high resolution image viewer,
            GIS-like support to show named entities in a map, and more.</p>
          <p class="light">
            EVT is distributed as <strong>open source</strong> software, all the current code
            base is available on <a href="https://github.com/evt-project/evt-viewer/" target="_blank">GitHub</a>.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>