<div class="card-container my-3 mx-3">
    <div class="card-flip">
        <div class="front card">
            <img [src]="cardData.image" class="card-img-top" [attr.alt]="cardData.title">
            <div class="card-body">
                <h5 class="card-title">{{ cardData.title }}</h5>
            </div>
        </div>
        <div class="back card">
            <div class="card-body pb-0">
                <h5 class="card-title mb-0">
                    <span>{{ cardData.title }}</span>
                    <fa-icon [icon]="['fas', 'times']" size="lg" *ngIf="!isDesktop"
                        (click)="$event.stopPropagation(); toggleCard(cardData)"></fa-icon>
                </h5>
            </div>
    
            <div class="card-body card-text pt-0 pb-0">
                <ng-content select="[content]"></ng-content>
            </div>
    
            <div class="card-body card-links text-center">
                <a class="card-link" *ngFor="let link of cardData.links" [href]="link.url" [title]="link.title || ''"
                    target="_blank">
                    <fa-icon *ngIf="link.icon" [icon]="link.icon" size="lg"></fa-icon>
                    {{link.label || ''}}
                </a>
            </div>
        </div>
    </div>
</div>
