.card {
    border: none;
    background: #ffffff;
    height: 341px;
    max-height: 341px;
    transform-style: preserve-3d;

    h5 {
        text-align: center;
        margin-bottom: 0;
    }

    .card-body.card-text {
        max-height: 225px;
        min-height: 225px;
        height: 225px;
        overflow: auto;
        font-size: 14px;
    }

    .card-img-top {
        height: calc(100% - 72px);
    }

    .face {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }

    .front {
        cursor: pointer;
        backface-visibility: hidden;
    }

    .back {
        transform: rotateY(180deg);
        backface-visibility: visible;
        h5 {
            display: flex;
            justify-content: space-between;
        }
    }
}

.card-link {
    color: #ffab40;
    border-right: 1px solid #efefef;
    padding-right: 20px;
    &:last-child {
        border-right: none;
    }
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
h5 {
    font-size: 1.34rem;
    line-height: 2rem;
}

a:hover {
    color: #ffab40 !important;
}

.card .card-action {
    text-align: center;
}

.card .card-action a {
    border-right: 1px solid #efefef;
    padding-right: 20px;
}
.card .card-action a:last-child {
    border-right: none;
}